<div class="bg-gradient-primary" style="height: 100vh">
  <div class="container p-5">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-9">
                <br><br>
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{{'company.create' | translate}}</h1>
                  </div>
                  <form (submit)="save()" [formGroup]="form" [class]="validator ? 'validate' : ''" autocomplete="off">
                    <div class="form-group">
                      <label class="require">{{'company.name' | translate}}</label>
                      <input focus pInputText type="text" id="name" formControlName="name" class="form-control form-control-user" 
                        placeholder="{{'company.name.input' | translate}}" maxlength="255" minlength="4">
                    </div>
                    <div class="form-group">
                      <label class="require">{{'company.email' | translate}}</label>
                      <input pInputText type="email" id="email" formControlName="email" class="form-control form-control-user" 
                        placeholder="{{'company.email.input' | translate}}"  maxlength="255" minlength="3">
                    </div>
                    <div class="form-group">
                      <label class="require">{{'company.password' | translate}}</label>
                      <input pInputText type="password" id="password" formControlName="password" class="form-control form-control-user" 
                        placeholder="{{'company.password.input' | translate}}"  maxlength="255" minlength="3">
                    </div>
                    <button #button type="submit" class="btn btn-primary btn-user btn-block">
                      {{'company.submit.btn' | translate}}
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" [routerLink]="[ '/dashboard/login' ]">{{'company.action.login' | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>