<div class="cal-day-view">
  <div
    class="cal-all-day-events"
    mwlDroppable
    dragOverClass="cal-drag-over"
    dragActiveClass="cal-drag-active"
    (drop)="eventDropped($event, view.period.start, true)"
  >
    <mwl-calendar-day-view-event
      *ngFor="let event of view.allDayEvents; trackBy: trackByEventId"
      [ngClass]="event.cssClass"
      [dayEvent]="{ event: event }"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      [tooltipDelay]="tooltipDelay"
      [customTemplate]="eventTemplate"
      [eventTitleTemplate]="eventTitleTemplate"
      [eventActionsTemplate]="eventActionsTemplate"
      (eventClicked)="eventClicked.emit({ event: event })"
      [class.cal-draggable]="!snapDraggedEvents && event.draggable"
      mwlDraggable
      dragActiveClass="cal-drag-active"
      [dropData]="{ event: event, calendarId: calendarId }"
      [dragAxis]="{
        x: !snapDraggedEvents && event.draggable,
        y: !snapDraggedEvents && event.draggable
      }"
    >
    </mwl-calendar-day-view-event>
  </div>
  <div
    class="cal-hour-rows"
    #dayEventsContainer
    mwlDroppable
    (dragEnter)="eventDragEnter = eventDragEnter + 1"
    (dragLeave)="eventDragEnter = eventDragEnter - 1"
  >
    <div class="cal-events">
      <div
        #event
        *ngFor="let dayEvent of view?.events; trackBy: trackByDayEvent"
        class="cal-event-container"
        [class.cal-draggable]="dayEvent.event.draggable"
        [class.cal-starts-within-day]="!dayEvent.startsBeforeDay"
        [class.cal-ends-within-day]="!dayEvent.endsAfterDay"
        [ngClass]="dayEvent.event.cssClass"
        mwlResizable
        [resizeSnapGrid]="{
          top: eventSnapSize || hourSegmentHeight,
          bottom: eventSnapSize || hourSegmentHeight
        }"
        [validateResize]="validateResize"
        (resizeStart)="resizeStarted(dayEvent, $event, dayEventsContainer)"
        (resizing)="resizing(dayEvent, $event)"
        (resizeEnd)="resizeEnded(dayEvent)"
        mwlDraggable
        dragActiveClass="cal-drag-active"
        [dropData]="{ event: dayEvent.event, calendarId: calendarId }"
        [dragAxis]="{
          x:
            !snapDraggedEvents &&
            dayEvent.event.draggable &&
            currentResizes.size === 0,
          y: dayEvent.event.draggable && currentResizes.size === 0
        }"
        [dragSnapGrid]="
          snapDraggedEvents ? { y: eventSnapSize || hourSegmentHeight } : {}
        "
        [validateDrag]="validateDrag"
        (dragStart)="dragStarted(event, dayEventsContainer)"
        (dragging)="dragMove()"
        (dragEnd)="dragEnded(dayEvent, $event)"
        [style.marginTop.px]="dayEvent.top"
        [style.height.px]="dayEvent.height"
        [style.marginLeft.px]="dayEvent.left + 70"
        [style.width.px]="dayEvent.width - 1"
      >
        <div
          class="cal-resize-handle cal-resize-handle-before-start"
          *ngIf="
            dayEvent.event?.resizable?.beforeStart &&
            !dayEvent.startsBeforeDay
          "
          mwlResizeHandle
          [resizeEdges]="{ top: true }"
        ></div>
        <mwl-calendar-day-view-event
          [dayEvent]="dayEvent"
          [tooltipPlacement]="tooltipPlacement"
          [tooltipTemplate]="tooltipTemplate"
          [tooltipAppendToBody]="tooltipAppendToBody"
          [tooltipDelay]="tooltipDelay"
          [customTemplate]="eventTemplate"
          [eventTitleTemplate]="eventTitleTemplate"
          [eventActionsTemplate]="eventActionsTemplate"
          (eventClicked)="eventClicked.emit({ event: dayEvent.event })"
        >
        </mwl-calendar-day-view-event>
        <div
          class="cal-resize-handle cal-resize-handle-after-end"
          *ngIf="
            dayEvent.event?.resizable?.afterEnd && !dayEvent.endsAfterDay
          "
          mwlResizeHandle
          [resizeEdges]="{ bottom: true }"
        ></div>
      </div>
    </div>
    <div
      class="cal-hour"
      *ngFor="let hour of hours; trackBy: trackByHour"
      [style.minWidth.px]="view?.width + 70"
    >
      <mwl-calendar-day-view-hour-segment
        *ngFor="let segment of hour.segments; trackBy: trackByHourSegment"
        [style.height.px]="hourSegmentHeight"
        [segment]="segment"
        [segmentHeight]="hourSegmentHeight"
        [locale]="locale"
        [customTemplate]="hourSegmentTemplate"
        (mwlClick)="hourSegmentClicked.emit({ date: segment.date })"
        mwlDroppable
        dragOverClass="cal-drag-over"
        dragActiveClass="cal-drag-active"
        (drop)="eventDropped($event, segment.date, false)"
      >
      </mwl-calendar-day-view-hour-segment>
    </div>
  </div>
</div>
