<div id="page-top" class="sidebar-toggled">
  <div id="wrapper">
    <app-navbar-left></app-navbar-left>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-navbar-top [title]="'reception' | translate"></app-navbar-top>
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
            <app-breadcrumb [breadcrumb]="[{name: 'reception'}]"></app-breadcrumb>
            <div class="col-sm-4 col-xs-12" style="margin-top: -10px; background: white">
                <app-fast-lobby (changeLobby)="onChangeLobby()"></app-fast-lobby>
              </div>
          </div>
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 col-xs-12">
                  <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                    [routerLink]="['/dashboard/reception/new']">
                    {{'add' | translate}}
                  </button>
                </div>
                <div class="col-sm-3 offset-sm-6 col-xs-12">
                  <app-next-day (date)="onChangeDate($event)"></app-next-day>
                </div>
              </div>
              <br>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                    role="tab" aria-controls="nav-home" aria-selected="true" (click)="setPending()">
                    {{'scheduling.today' | translate}}
                  </a>
                  <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-inProress"
                    role="tab" #inProgress aria-controls="nav-inProress" aria-selected="true" (click)="setInProgress()">
                    {{'scheduling.inprogress' | translate}}
                  </a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                    role="tab" #finish aria-controls="nav-profile" aria-selected="false" (click)="setFinish()">
                    {{'scheduling.finish' | translate}}
                  </a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                    role="tab" aria-controls="nav-contact" aria-selected="false" (click)="setCanceled()">
                    {{'scheduling.canceled' | translate}}
                  </a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="table-responsive">
                    <p-table styleClass="table table-hover" [value]="schedulingList" [paginator]="true" [first]="first"
                      [rows]="10" [totalRecords]="totalElements" (onPage)="onPage($event)">
                      <ng-template pTemplate="header">
                        <tr>
                          <th width="20px"></th>
                          <th width="20px"></th>
                          <th width="20%" class="hide-cell">{{ "scheduling.responsible" | translate }}</th>
                          <th width="20%">{{ "scheduling.visitor" | translate }}</th>
                          <th width="20%">{{ "scheduling.start_date" | translate }}</th>
                          <th width="50px"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-scheduling>
                        <tr>
                          <td><app-delete [classModal]="'scheduling_modal_pending'+scheduling.id" [id]="scheduling.id" (delete)=delete($event)></app-delete></td>
                          <td title="visitor.checking">
                            <app-checkin [schedulingId]="scheduling?.id" [visitor]="scheduling?.visitors[0]" (updateScheduling)="onCheckin($event)"
                              [checkin]="scheduling?.visitors[0]?.checkin"></app-checkin>
                          </td>
                          <td class="hide-cell">
                            <app-person-on-list [list]="scheduling?.responsibles"></app-person-on-list>
                          </td>
                          <td>
                              <app-person-on-list [list]="scheduling?.visitors"></app-person-on-list>
                          </td>
                          <td>{{scheduling?.start_date | datetime}}</td>
                          <td>
                            <button class="btn btn-link btn-no-padding" [routerLink]="['/dashboard/reception', scheduling.id]">Detalhes</button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                          <td [attr.colspan]="6" align=center>
                            {{'not.fount' | translate}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-inProress" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="table-responsive">
                    <p-table styleClass="table table-hover" [value]="schedulingList" [paginator]="true" [first]="first"
                      [rows]="10" [totalRecords]="totalElements" (onPage)="onPage($event)">
                      <ng-template pTemplate="header">
                        <tr>
                          <th width="20px"></th>
                          <th width="20px"></th>
                          <th width="50px"></th>
                          <th width="20%" >{{ "scheduling.visitor" | translate }}</th>
                          <th width="20%" class="hide-cell">{{ "scheduling.start_date" | translate }}</th>
                          <th width="50px"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-scheduling>
                        <tr>
                          <td><app-delete [classModal]="'scheduling_modal_inprogress'+scheduling.id" [id]="scheduling.id" (delete)=delete($event)></app-delete></td>
                          <td title="visitor.checking">
                            <app-checkin [schedulingId]="scheduling?.id" [visitor]="scheduling?.visitors[0]" (updateScheduling)="getSchedulings()"
                              [checkin]="scheduling?.visitors[0]?.checkin"></app-checkin>
                          </td>
                          <td>
                              <button class="btn btn-link btn-no-padding" (click)="finalizeScheduling(scheduling.id)">
                                {{'scheduling.action.finish' | translate}}
                              </button>
                            </td>
                            <td>
                              <app-person-on-list [list]="scheduling?.visitors"></app-person-on-list>
                            </td>
                            <td class="hide-cell">{{scheduling?.start_date | datetime}}</td>
                            <td>
                              <button class="btn btn-link btn-no-padding" [routerLink]="['/dashboard/reception', scheduling.id]">Detalhes</button>
                            </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                          <td [attr.colspan]="6" align=center>
                            {{'not.fount' | translate}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="table-responsive">
                      <p-table styleClass="table table-hover" [value]="schedulingList" [paginator]="true" [first]="first"
                        [rows]="10" [totalRecords]="totalElements" (onPage)="onPage($event)">
                        <ng-template pTemplate="header">
                          <tr>
                            <th width="100px"></th>
                            <th width="20%" class="hide-cell">{{ "scheduling.responsible" | translate }}</th>
                            <th width="20%">{{ "scheduling.visitor" | translate }}</th>
                            <th width="20%">{{ "scheduling.start_date" | translate }}</th>
                            <th width="50px"></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-scheduling>
                          <tr>
                            <td nowrap>
                              <button class="btn btn-link btn-no-padding" (click)="unFinish(scheduling.id)">
                                {{'scheduling.action.unfinish' | translate}}
                              </button>
                            </td>
                            <td class="hide-cell">
                              <app-person-on-list [list]="scheduling?.responsibles"></app-person-on-list>
                            </td>
                            <td>
                                <app-person-on-list [list]="scheduling?.visitors"></app-person-on-list>
                            </td>
                            <td>{{scheduling?.start_date | datetime}}</td>
                            <td>
                              <button class="btn btn-link btn-no-padding" [routerLink]="['/dashboard/reception', scheduling.id]">Detalhes</button>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                          <tr>
                            <td [attr.colspan]="5" align=center>
                              {{'not.fount' | translate}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="table-responsive">
                      <p-table styleClass="table table-hover" [value]="schedulingList" [paginator]="true" [first]="first"
                        [rows]="10" [totalRecords]="totalElements" (onPage)="onPage($event)">
                        <ng-template pTemplate="header">
                          <tr>
                            <th width="25%" class="hide-cell">{{ "scheduling.responsible" | translate }}</th>
                            <th width="25%">{{ "scheduling.visitor" | translate }}</th>
                            <th width="20%">{{ "scheduling.start_date" | translate }}</th>
                            <th width="50px"></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-scheduling>
                          <tr>
                            <td class="hide-cell">
                              <app-person-on-list [list]="scheduling?.responsibles"></app-person-on-list>
                            </td>
                            <td>
                                <app-person-on-list [list]="scheduling?.visitors"></app-person-on-list>
                            </td>
                            <td>{{scheduling?.start_date| datetime}}</td>
                            <td>
                              <button class="btn btn-link btn-no-padding" [routerLink]="['/dashboard/reception', scheduling.id]">Detalhes</button>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                          <tr>
                            <td [attr.colspan]="5" align=center>
                              {{'not.fount' | translate}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reception-requirement" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'requirement.modal.title' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let requirement of requirements">
          <i class="fas fa-check requirement-item"></i>
          <span>{{requirement?.name}}</span>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">{{'ok' | translate}}</button>
      </div>
    </div>
  </div>
</div>