<div id="page-top" class="sidebar-toggled">
  <div id="wrapper">
    <app-navbar-left></app-navbar-left>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-navbar-top [title]="'reception' | translate"></app-navbar-top>
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between">
            <app-breadcrumb [breadcrumb]="[{name: 'reception'}]"></app-breadcrumb>
            <div class="col-sm-4 col-xs-12" style="margin-top: -10px; background: white">
                <app-fast-lobby (changeLobby)="onChangeLobby()"></app-fast-lobby>
              </div>
          </div>
          <div class="card shadow mb-4">
            <div class="card-body">
              <app-calendar></app-calendar>
            </div>
          </div>
          <ng-template #lobbyRequired>
            <app-empty-state (clickAdd)="gotoLobby()" message="lobby.select.null.empty" [add]="true"></app-empty-state>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>