<div id="page-top" class="sidebar-toggled">
  <div id="wrapper">
    <app-navbar-left></app-navbar-left>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-navbar-top [title]="'procedures' | translate"></app-navbar-top>
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
            <app-breadcrumb [breadcrumb]="[{name: 'procedures', link: '/dashboard/procedures'}, {name: (isNew() ? 'Novo' : 'Editar')}]"></app-breadcrumb>
          </div>
          <div class="card shadow mb-4">
            <div class="card-body">
              <form [formGroup]="form" (submit)="save()" [class]="validator ? 'validate' : ''">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-8">
                      <label class="require">{{'procedures.name' | translate}}</label>
                      <input type="name" id="name" formControlName="name" class="form-control form-control-user" 
                        placeholder="{{'procedures.name.input' | translate}}"  maxlength="255" minlength="4">
                    </div>
                    <div class="col-sm-4">
                      <label class="require">{{'procedures.price' | translate}}</label>
                      <input pInputText type="price" id="price" formControlName="price" class="form-control form-control-user"
                        placeholder="{{'procedures.price.input' | translate}}"  maxlength="255" minlength="0" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    </div>
                    <div class="col-md-12">
                      <br>
                      <label>{{'procedures.time' | translate}}</label>
                      <input pInputText type="text" id="time" formControlName="time" class="form-control form-control-user"
                        placeholder="{{'procedures.time.input' | translate}}"  maxlength="255" minlength="0" 
                        mask="sh:sh">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <br>
                      <label>{{'procedures.detail' | translate}}</label>
                      <textarea pInputText type="detail" id="detail" formControlName="detail" class="form-control form-control-user" 
                        placeholder="{{'procedures.detail.input' | translate}}">
                      </textarea>
                    </div>
                  </div>
                </div>
                <hr>
                <div class=row>
                  <div class="col-sm-3 offset-sm-6 col-5">
                    <button type="button" class="btn btn-link btn-user btn-block" [routerLink]="['/dashboard/procedures']">
                      {{(isNew() ? 'cancel' : 'close') | translate}}
                    </button>
                  </div>
                  <div class="col-sm-3 col-7">
                    <button #button type="submit" [disabled]="!(permission.updat_entity || permission.insert_entity)" class="btn btn-primary btn-user btn-sm btn-block">
                      {{(isNew() ? 'add' : 'update') | translate}}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card shadow mb-4" *ngIf="!isNew() && permissionRequirement.view_entity">
            <div class="card-header">
              {{'procedures.requirement' | translate}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <label>{{'procedures.requirement.select' | translate}}</label>
                  <br>
                  <p-autoComplete [(ngModel)]="requirement" [suggestions]="requirementList" [(ngModel)]="requirement"
                    (completeMethod)="onSearch($event)" [forceSelection]="true" field="name"
                    [immutable]=false [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                    (onSelect)="onSelect($event)" [placeholder]="'procedure.requirement.search' | translate"></p-autoComplete>
                </div>
              </div>
              <br>
              <app-table [columns]="columns" [template]="template" [data]="procedureRequirementList"
                [headerHide]=true (delete)="onDelete($event)">
                <ng-template #columns>
                  <th>{{'procedures.requirement' | translate}}</th>
                  <th>{{'procedures.vinculated' | translate}}</th>
                </ng-template>
                <ng-template #template let-requirement>
                  <td>{{requirement.name}}</td>
                  <td>{{requirement.update_at | datetime}}</td>
                </ng-template>
              </app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-procedures-tutorial" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'procedures.add' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p align="center">{{'procedures.add.new' | translate}}</p>
        <p align="center">{{'procedures.add.exemple' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">{{'ok' | translate}}</button>
    </div>
  </div>
</div>