<div id="page-top" class="sidebar-toggled">
  <div id="wrapper">
    <app-navbar-left></app-navbar-left>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-navbar-top [title]="'requirement' | translate"></app-navbar-top>
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
            <app-breadcrumb [breadcrumb]="[{name: 'requirement'}]"></app-breadcrumb>
          </div>
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 mb-4">
                  <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                    style="color: white" (click)="add()">
                    {{'add' | translate}}
                  </a>
                </div>
              </div>
              <div class="table-responsive">
                <p-table styleClass="table table-hover" [value]="requirementList" [paginator]="true" 
                  [rows]="10" [totalRecords]="totalElements" (onPage)="onPage($event)">
                  <ng-template pTemplate="header">
                    <tr>
                      <th width="20px"></th>
                      <th width="40%">{{ "requirement.name" | translate }}</th>
                      <th width="20%" class="hide-cell">{{ "requirement.price" | translate }}</th>
                      <th width="50px"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-requirement>
                    <tr>
                      <td><app-delete [classModal]="'requirement_modal'+requirement.id" [id]="requirement.id" (delete)=onDelete($event)></app-delete></td>
                      <td>{{requirement.name}}</td>
                      <td class="hide-cell">R$ {{requirement.price | price}}</td>
                      <td>
                        <button class="btn btn-link btn-no-padding" [routerLink]="['/dashboard/requirement', requirement.id]">Detalhes</button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr align="center">
                      <td [attr.colspan]="5">
                        {{'not.fount' | translate}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
