<div class="row" style="float: right;margin-right: 0px;">
  <div class="col-xs-3">
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      style="border-radius: 5px 0px 0px 5px" (click)="down()">
      <i class="fas fa-arrow-circle-left"></i>
    </button>
  </div>
  <div class="col-xs-6">
    <button class="d-sm-inline-block btn btn-sm btn-default shadow-sm"
      style="border-radius: none" (click)="reset()">
      {{moment.format('DD/MM/YYYY')}}
    </button>
  </div>
  <div class="col-xs-3">
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      style="border-radius: 0px 5px 5px 0px" (click)="add()">
      <i class="fas fa-arrow-circle-right"></i>
    </button>
  </div>
</div>
