<div class="bg-gradient-primary" style="height: 100vh">
  <div class="container p-5">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <br><br>
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{{'company.login' | translate}}</h1>
                  </div>
                  <form [formGroup]="form" (submit)="save()">
                    <div class="form-group">
                      <label>{{'company.email' | translate}}</label>
                      <input type="email" id="email" formControlName="email" class="form-control form-control-user" 
                        placeholder="{{'company.email.input' | translate}}"  maxlength="255" minlength="4"
                        appRequired [isValidate]="isSubmit" [formControl]="form.get('email')" [place]="'right'">
                    </div>
                    <div class="form-group">
                      <label>{{'company.password' | translate}}</label>
                      <input type="password" id="password" formControlName="password" class="form-control form-control-user" 
                        placeholder="{{'company.password.input' | translate}}"  maxlength="255" minlength="3"
                        appRequired [isValidate]="isSubmit" [formControl]="form.get('password')" [place]="'right'">
                    </div>
                    <button #button type="submit" class="btn btn-primary btn-user btn-block">
                      {{'company.create.btn' | translate}}
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" [routerLink]="[ '/dashboard/forget' ]">{{'company.forget' | translate}}</a>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>